{{#each orders as |order|}}

<div class="order-display" data-id="{{order.id}}">
    {{!-- <li><button class="btn btn-dark get-order">Date: {{order.createdAt}}</button></li> --}}
    <h4>Order Date: {{order.createdAt}}</h4>
    <h5>Order Total: ${{order.total}}</h5>
</div>

{{/each}}
