$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding: 0;
  margin: 0;
}

.banner {
 background-image: url('https://c1.staticflickr.com/5/4663/39806299612_18bf8a6e5c_o.jpg');
 background-size: cover;
 background-position: center;
}

.btn {
  border-radius: 5px;
  padding: 5px;
  &:hover {
    outline: 2px solid black;
  }
}

.cart-product-display {
  border-top: 1px solid black;
  margin: 0 auto;
  padding: 5px;
  width: 100%;
}

.jumbotron {
  background-color: transparent;
  color: white;
  margin-bottom: 0;
}

.main {
  padding: 15px;
}

.navbar {
  border: 2px solid black;
  background-color: white;
  padding-left: 35px;
}

.nozama {
  font-size: 18px;
  margin: 0;
  padding: 2px;
}

.prod-img {
  width: 80%;
}

.product {
  border-top: 1px solid black;
  margin: 0 auto;
  padding: 5px;
  width: 80%;
}

.search-bar-form {
  display: inline-block;
  margin-top: 8px;
}

.shopping-cart {
  margin: 0 auto;
  width: 70%;
}

.sign-in-up-wrap {
  margin: 0 auto;
  max-width: 300px;
  min-width: 200px;
  width: 50%;
}

.sign-message {
  height: 20px;
  margin: 10px 0, 0, 0;
  text-align: center;
  width: 100%;
}

.srch-bar {
  padding-right: 25px;
}

.srch-btn {
  margin-left: -35px;
}
.srch-btn:hover {
  outline: none;
}

.total {
  border-top: 1px solid black;
  margin: 20px auto;
  padding: 5px;
  width: 100%;
}
