$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  &:hover {
    outline: 2px solid black;
  }
}

.jumbotron {
  background-color: white;
  margin-bottom: 0;
}

.main {
  padding: 15px;
}

.navbar {
  border: 2px solid black;
  background-color: white;
  padding-left: 15px;
}

.nozama {
  font-size: 18px;
  margin: 0;
  padding: 2px;
}

.search-bar {
  display: inline-block;
  margin-top: 8px;
}

.sign-in-up-wrap {
  margin: 0 auto;
  max-width: 300px;
  min-width: 200px;
  width: 50%;
}

.sign-message {
  margin: 0 auto;
  text-align: center;
}
